/* default css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin-bottom: 400px;
}

svg {
    width: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

.mb-100 {
    margin-bottom: 100px;
}

.section-title {
    border-bottom: 1px solid #a09595;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.section-title .btn {
    border: 2px solid;
}

/* header area css */
.header-top-area {
    background-color: #f5f5f5;
    padding: 8px 0;
    text-transform: capitalize;
}

.header-top-area .help {
    font-weight: bold;
    margin-right: 10px;
}

.header-top-area a {
    padding: 0 10px;
}

.header-top-area a:last-child {
    padding-right: 0;
}

.header-middle-area {
    padding: 20px;
    border-bottom: 1px solid #a09595;
}

.header-middle-area svg {
    width: 25px;
}

.header-middle-area .search {
    position: relative;
}

.header-middle-area .search input {
    border: 2px solid #ff0000;
}

.header-middle-area .form-control:hover,
.header-middle-area .form-control:focus {
    border-color: #ff0000 !important;
}

.header-middle-area .search button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 50px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 4px;
}

.header-bottom-area {
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #a09595;
}

.header-bottom-area .menu {
    list-style: none;
    padding-left: 0;
}

.header-bottom-area .menu li {
    display: inline-block;
}

.header-bottom-area .menu li a {
    padding: 0 10px;
}

.header-bottom-area .menu li a:first-child {
    padding-left: 0 !important;
}

.header-bottom-area .actions a {
    padding: 15px;
}

.header-bottom-area .actions a:last-child {
    padding-right: 0;
}

.header-bottom-area .actions svg {
    width: 25px;
}

/* slider area css */
.slider-area {
    margin: 50px 0;
}

.slider-area .carousel-item img {
    border-radius: 6px !important;
}

/* product item css */
.product-item .product-inner {
    transition: .3s all ease-in-out !important;
    padding: 15px;
}

.product-action {
    opacity: 0;
    transition: .3s all ease-in-out !important;
}

.product-item:hover .product-action {
    opacity: 1;
}

.product-item .product-category,
.product-item .product-policy {
    font-size: 13px;
}

.product-item .product-title {
    font-size: 15px;
}

.product-item .product-price .main-price {
    font-weight: bold;
    font-size: 18px;
}

.product-item .product-image img {
    max-width: 70%;
}

.product-item .product-image .product-badge {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    padding: 6px 10px;
    line-height: 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* category item css */
.category-item h4 {
    font-size: 15px;
}